.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 40px; 
    width: 50px;/* Ajuste la taille du logo selon tes besoins */
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    margin: 0 15px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .menu ul li a:hover {
    color: #227C70; /* Change la couleur au survol */
  }
  