<div class="container">
  <div class="header-container">
    <app-header></app-header>
  </div>
  <div class="main-container">
    <app-sidebar></app-sidebar>
 
    <div class="content-container">
      <div class="cards-container">
        <app-average-card></app-average-card>
        <app-temperature-card></app-temperature-card>
        <app-humidity-card></app-humidity-card>
      </div>
      <div class="graph-container">
        <app-view-graph></app-view-graph>
      </div>
      <div class="footer-cards-container">
        <app-moyenne1></app-moyenne1>
        <app-moyenne2></app-moyenne2>
        <app-moyenne3></app-moyenne3>
        <div class="fan-container">
          <app-footer></app-footer>
        </div>
       
      </div>
    </div>
  </div>
</div>
