<div class="container">
  <div class="header-container">
    <app-header></app-header>
  </div>
  <div class="main-container">
    <div class="sidebar-container">
      <app-sidebar></app-sidebar>
      
      
      <!-- Ventilateur positionné sous la sidebar -->
      <div class="fan-container">
        <app-footer></app-footer>
      </div>
    </div>

    <div class="content-container">
      <div class="cards-container">
        <app-average-card></app-average-card>
        <app-temperature></app-temperature>
        <app-humidity-card></app-humidity-card>
      </div>
      
      <div class="graph-container">
        <app-view-graph></app-view-graph>
       
      </div>
      <div class="footer-cards-container">
       
        <app-moyenne1></app-moyenne1>
        <app-moyenne2></app-moyenne2>
        <app-moyenne3></app-moyenne3>
        <app-formulaire></app-formulaire>
       
       
      </div>
    </div>
  </div>
</div>
